<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- locals.title %></title>
  <meta name="description" content="<%- locals.description %>">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="css/header.css">
</head>
<body>

  <%- include('../partials/header.ejs') %>
  <%- include('../partials/footer.ejs') %>
  <%- body %>
  

</body>
</html>