<head>
  <link rel="stylesheet" href="/css/exercises/styles.css">
  <link rel="stylesheet" href="/css/exercises-table.css">
  <link rel="stylesheet" href="/css/mobile-reset.css">
</head>


<!-- Create Exercise Form PupUp -->
<div class="create-form-container" id="form-create">
  <div class="overlay"></div>
  <div class="content">
    <h3 class="form-title">Create Exercise</h3>
    <form action="/exercises" method="POST" id="formulary">
      <div class="exr-name-box">
        <input required class="exr-name" type="text" name="name" placeholder="Exercise Name">
      </div>
      <div class="exr-data">

        <hr>
        <div class="select-box">
          <label>Exercise Type</label>
          <select required class="exr-class" name="class">
            <option class="option-hidden" value="" selected disabled>Select...</option>
            <option value="REPS/WEIGHT">Weight Reps</option>
            <option value="REPS">Reps Only</option>
            <option value="DUR">Duration</option>
            <option value="DUR/WEIGHT">Weight Duration</option>
            <option value="DIST/DUR">Distance Duration</option>
          </select>
        </div>

        <hr>
        <div class="select-box">
          <label>Muslce Group</label>
          <select required class="exr-main-muscle" name="main_muscle">
            <option class="option-hidden" value="" selected disabled>Select...</option>
            <option value="Cardio">Cardio</option>
            <option value="Abdominals">Abdominals</option>
            <option value="Back">Back</option>
            <option value="Biceps">Biceps</option>
            <option value="Forearms">Forearms</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Traps">Traps</option>
            <option value="Triceps">Triceps</option>
            <option value="Queadirceps">Quadriceps</option>
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Calver">Calves</option>
            <option value="Abductors">Abductors</option>
            <option value="Adductors">Adductors</option>
            <option value="upper Body">Upper Body</option>
            <option value="Lower Body">Lower Body</option>
            <option value="Full Body">Full Body</option>
          </select>
        </div>
      </div>
      <div class="buttons">
        <button type="reset" class="cancel-btn" onclick="toggleCreateForm()">Cancel</button>
        <button class="save-btn">Save Exercise</button>
      </div>
    </form>
  </div>
</div>


<main>
  <div class="container">
    <div class="exercise-container">
      <button onclick="toggleCreateForm()" class="new-exercise-btn">+ Custom Exercise</button>

      <div class="title-box">
        <a href="/routines">
          <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg" tint="#FFFFFF" type="back-button"><path d="M17 8H1M1 8L7 14M1 8L7 2"  stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path></svg>
        </a>
        <h2>Exercises</h2>
      </div>

      <div class="exercise-box" id="exercise-box">

        <div class="if-empty" id="if-empty">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24""><path d="M6 5v14h3v-6h6v6h3V5h-3v6H9V5zM3 15a1 1 0 0 0 1 1h1V8H4a1 1 0 0 0-1 1v2H2v2h1v2zm18-6a1 1 0 0 0-1-1h-1v8h1a1 1 0 0 0 1-1v-2h1v-2h-1V9z"></path></svg>
          <p class="main-text">Select Exercise</p>
          <p class="secondary-text">Click on an exercise to see statistics about it.</p>
        </div>


        <% for (let i = 0; i < exercises.length; i++) { %>
          <div class="exercise-display">
            <div class="info-box">
              <% if (exercises[i].isCustom === true) { %>
                <div class="custom-box">
                  <h2 class="title"><%= exercises[i].name %></h2>
                  <form action="/exercises/delete/<%= exercises[i]._id %>?_method=DELETE" method="POST" class="remove-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="remove-btn">
                      <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-width="1.5"><path d="M11 10.5l9 9M11 19.5l9-9"></path></g></svg>
                      <div class="tooltip"><p>Remove Exercise</p></div>
                    </button>
                  </form>
                </div>
              <% } else { %> <h2 class="exercise-name"><%= exercises[i].name %></h2> <% } %>
              <p class="muscle-info">Muscle Group: <span><%= exercises[i].mainMuscle %></span></p>
            </div>

            <hr>

            <div class="statistics-box">
              <div class="title-select-box">
                <h3>Statistics</h3>
                <form>
                  <select name="data-time-view">
                    <option value="WEEK">Las 12 weeks</option>
                    <option value="YEAR">Year</option>
                    <option value="ALL">All Time</option>
                  </select>
                </form>
              </div>

              <div class="statistics-display">
                <div class="stats">
                  <div class="stats-data">
                    <% let unit = '' %>
                    <% if (exercises[i].class === "REPS/WEIGHT" || exercises[i].class === "REPS") { %>       
                      <p class="title">Reps</p>
                      <% unit = 'reps' %>
                    <% } else if (exercises[i].class === "DUR/WEIGHT" || exercises[i].class === "DUR") {%>
                      <p class="title">Duration</p>
                      <% unit = 'seg' %>
                    <% } else {%>
                      <p class="title">Distance</p>
                      <% unit = 'm' %>
                    <% } %>
                      <p class="time-specific" id="time-specific"></p>

                      <% let total = 0 %>
                      <% if (record[0].exercises[i].mainData.length > 0) total = record[0].exercises[i].mainData.reduce((acc, curr) => acc + curr)%>
                      <p class="details">Total: <span class="result"><%= total %></span><span class="unit"><%= unit %></span></p>

                      <% let max = 0 %>
                      <% if (record[0].exercises[i].mainData.length > 0) max = Math.max(...record[0].exercises[i].mainData) %>
                      <p class="details">Max: <span class="result"><%= max %></span><span class="unit"><%= unit %></span></p>

                      <% let average = 0 %>
                      <% if (record[0].exercises[i].mainData.length > 0) average = (total / record[0].exercises[i].mainData.length).toFixed(0) %>
                      <p class="details">Average: <span class="result"><%= average %></span><span class="unit"><%= unit %></span></p>
                  </div>

                  <% let unit2 = '' %>
                  <% if (exercises[i].class !== "REPS" && exercises[i].class !== "DUR") { %>  
                    <div class="stats-data">
                      <% if (exercises[i].class === "REPS/WEIGHT" || exercises[i].class === "DUR/WEIGHT") { %>  
                        <p class="title">Weight</p>
                        <% unit2 = 'kg' %>
                      <% } else if (exercises[i].class === "DIST/DUR") {%>
                        <p class="title">Duration</p>
                        <% unit2 = 'seg' %>
                      <% } %>
                        <p class="time-specific" id="time-specific"></p>

                        <% let total2 = 0 %>
                        <% if (record[0].exercises[i].secondData.length > 0) total2 = record[0].exercises[i].secondData.reduce((acc, curr) => acc + curr)%>
                        <p class="details">Total: <span class="result"><%= total2 %></span><span class="unit"><%= unit2 %></span></p>
  
                        <% let max2 = 0 %>
                        <% if (record[0].exercises[i].secondData.length > 0) max2 = Math.max(...record[0].exercises[i].secondData) %>
                        <p class="details">Max: <span class="result"><%= max2 %></span><span class="unit"><%= unit2 %></span></p>
  
                        <% let average2 = 0 %>
                        <% if (record[0].exercises[i].secondData.length > 0) average2 = (total2 / record[0].exercises[i].secondData.length).toFixed(0) %>
                        <p class="details">Average: <span class="result"><%= average2 %></span><span class="unit"><%= unit2 %></span></p>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <%- include('./partials/exercises-table.ejs') %>


  </div>
</main>



<script src="/js/exercises/main.js"></script>
<script src="/js/routines/current-page.js"></script>
