<head>
  <link rel="stylesheet" href="/css/routines/edit-routine/styles.css">
  <link rel="stylesheet" href="/css/exercises-table.css">
  <link rel="stylesheet" href="/css/mobile-reset.css">
</head>

<main>
  <div class="container">
    <form action="/routines/edit-routine/<%= routine._id %>?_method=PUT" method="POST" class="form" id="routine-form">
      <div class="create-formulay-container">
        <button type="submit" class="save-btn">Update Routine</button>
        <div class="title">
          <a href="/routines">
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg" tint="#FFFFFF" type="back-button"><path d="M17 8H1M1 8L7 14M1 8L7 2"  stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path></svg>
          </a>
          <h2>Edit Routine</h2>
        </div>

        <div class="formulary">
          <div class="routine-title-box">
            <label for="routine-title">Routine Title</label>
            <input value="<%= routine.title %>" required id="routine-title" name="routine_title" type="text" placeholder="Workout Routine Title">
          </div>

          <div class="exercises-display-box" id="exercises-display">

            <div class="if-empty" id="if-empty">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24""><path d="M6 5v14h3v-6h6v6h3V5h-3v6H9V5zM3 15a1 1 0 0 0 1 1h1V8H4a1 1 0 0 0-1 1v2H2v2h1v2zm18-6a1 1 0 0 0-1-1h-1v8h1a1 1 0 0 0 1-1v-2h1v-2h-1V9z"></path></svg>
              <p class="main-text">No Exercises</p>
              <p class="secondary-text">You haven't added any exercises to this routine.</p>
            </div>

            <% for (let i = 0; i < routine.exercises.length; i++) { %>
              <div class="exercise-display active">
                <div class="exercise-name">
                  <h3 class="name-text"><%= routine.exercises[i].name %></h3>
                  <div class="remove-btn">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-width="1.5"><path d="M11 10.5l9 9M11 19.5l9-9"></path></g></svg>
                    <div class="tooltip"><p>Remove Exercise</p></div>
                  </div>
                </div>
                <div class="exercise-form">
                  <div class="exercise-form-info">
                    <input hidden name="name" value="<%= routine.exercises[i].name %>">
                    <input hidden name="class" value="<%= routine.exercises[i].class %>">
                    <div class="pinned-note">
                      <label for="note">Note</label>
                      <textarea id="note" class="note" name="note" placeholder="Add Pinned Note"></textarea>
                    </div>
                    <div class="exercise-data">
                      <div class="input-box">
                        <label for="sets">Sets:</label>
                        <input value="<%= routine.exercises[i].sets %>" id="sets" name="sets" class="sets" type="text" onkeypress="isNumber(event)" min="0">
                      </div>
                      <div class="input-box">
                        <label for="reps">Reps goal:</label>
                        <input value="<%= routine.exercises[i].reps %>" id="reps" name="reps" class="reps" type="text" onkeypress="isNumber(event)" min="0">
                      </div>
                      <div class="input-box">
                        <label for="rest">Rest:</label>
                        <input value="<%= routine.exercises[i].rest %>" id="rest" name="rest" class="rest" type="text" onkeypress="isNumber(event)" min="0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
            <% for(let i = 0; i < exercises.length; i++) { %>
              <div class="exercise-display inactive">
                <div class="exercise-name">
                  <h3 class="name-text"><%= exercises[i].name %></h3>
                  <div class="remove-btn">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-width="1.5"><path d="M11 10.5l9 9M11 19.5l9-9"></path></g></svg>
                    <div class="tooltip"><p>Remove Exercise</p></div>
                  </div>
                </div>
                <div class="exercise-form">
                  <div class="exercise-form-info">
                    <input hidden name="name" value="<%= exercises[i].name %>">
                    <input hidden name="class" value="<%= exercises[i].class %>">
                    <div class="pinned-note">
                      <label for="note">Note</label>
                      <textarea id="note" class="note" name="note" placeholder="Add Pinned Note"></textarea>
                    </div>
                    <div class="exercise-data">
                      <div class="input-box">
                        <label for="sets">Sets:</label>
                        <input id="sets" name="sets" type="number" class="sets" onkeypress="isNumber(event)" min="0">
                      </div>
                      <div class="input-box">
                        <label for="reps">Reps goal:</label>
                        <input id="reps" name="reps" type="number" class="reps" onkeypress="isNumber(event)" min="0">
                      </div>
                      <div class="input-box">
                        <label for="rest">Rest:</label>
                        <input id="rest" name="rest" type="number" class="rest" onkeypress="isNumber(event)" min="0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>

          </div>
        </div>


      </div>
    </form>

    <%- include('./partials/exercises-table.ejs') %>

  </div>
</main>



<script src="/js/routines/edit-routine/main.js"></script>
<script src="/js/routines/current-page.js"></script>