<link rel="stylesheet" href="/css/workout/styles.css">

<main>
  <div class="container">
    <form class="formulary">
      <div class="title-box">
        <h2 class="title"><%= routine.title %></h2>
        <div class="buttons">
          <button class="btn submit" type="submit">Finish Workout</button>
          <button class="btn cancel" type="reset">Cancel Workout</button>
        </div>
      </div>

      <div class="exercises-container">
        <% for (let i = 0; i < routine.exercises.length; i++) { %> 
          <div class="exercise-box">
            <div class="intro-section">
              <h3 class="section-title"><%= routine.exercises[i].name %></h3>
            </div>

            <div class="exercise-info">
              <div class="note-info" >
                <p class="note"><%= routine.exercises[i].note %></p>
              </div>
              <% if (routine.exercises[i].rest !== '') { %> 
                <div class="rest-info">
                  <svg class="time-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path></svg>
                  <p class="rest-data"><span><%= routine.exercises[i].rest %>'</span></p>
                </div>
              <% } %>
            </div>

            <input hidden name="name" value="<%= routine.exercises[i].name %>">
            <input hidden name="class" value="<%= routine.exercises[i].name %>">
            <input hidden name="main_muscle" value="<%= routine.exercises[i].name %>">

            <% let unit = '' %>
            <% if (routine.exercises[i].class === "REPS/WEIGHT" || routine.exercises[i].class === "REPS") { %>       
              <% unit = 'Reps' %>
            <% } else { %>
              <% unit = 'Segs' %>
            <% } %>
            <div class="register-box">
              <div class="table-title">
                <p class="table-label">Set</p>
                <p class="table-label">Previous</p>
                <% let isSecondData = false %>
                <% if (routine.exercises[i].class === "REPS/WEIGHT" || routine.exercises[i].class === "DUR/WEIGHT") { %>  
                  <p class="table-label">Kg</p>
                  <% isSecondData = true %>
                <% } else if (routine.exercises[i].class === "DIST/DUR") { %>
                  <p class="table-label">Dist</p>
                  <% isSecondData = true %>
                <% } %>
                <p class="table-label main-label"><%= unit %></p>
              </div>
              <% let setsNum = routine.exercises[i].sets %>
              <% for (let i = 0; i < setsNum; i++) { %> 
                <% let isRowOdd = 'even' %>
                <% if (i % 2 === 0) isRowOdd = 'odd' %>
                <div class="set-row <%=isRowOdd%>">
                  <p class="set-number"><%= i + 1 %></p>
                  <p class="previous-data">xxxx</p>
                  <% if (isSecondData) { %> 
                    <input placeholder="-" type="text" name="secondData" class="input input-conditional" onkeypress="isNumber(event)" min="0">
                  <% } %>
                  <input placeholder="-" type="text" name="mainData" class="input main-input" onkeypress="isNumber(event)" min="0">
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </form>

  </div>
</main>





<script src="/js/workout/main.js"></script>